<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDg_2SXd6ups1lapTgMBa1Yw1QlNWh9ca0</string>
	<key>GCM_SENDER_ID</key>
	<string>217523937201</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterPushnotification.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>pushnotification-ec487</string>
	<key>STORAGE_BUCKET</key>
	<string>pushnotification-ec487.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:217523937201:ios:63f292a10cb79734f86790</string>
</dict>
</plist>